<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			<h2 style="text-align: center;">Welcome to Store Management System</h2>
			<p style="text-align: center;">
				Here you can manage all your store and customer's information like piece of cake.
			</p>
		</div>
	</div>
</div>