<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<div class="jumbotron">
			<h2>Welcome to Store Management System</h2>
			<p>
				Here you can manage all your store and customer's information like piece of cake.
			</p>
		</div>
	</div>
</div>